@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVBAR*/

.navbar {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 3.7rem;
  z-index: 50;
  transition: background 0.3s linear;
}

nav.scrolled {
  background: url(../src/fondoNav.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -3.5rem;
  background-position-x: 3rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 1rem rgba(60, 136, 184, 0.5);
  transition: none;
}

.navbar-logo {
  color: #fff;
  text-shadow: 4px 4px 3px #585858;
  cursor: pointer;
  font-family: "Inspiration", cursive;
  font-size: 2rem;
  padding-left: 0.5rem;
  margin-top: -0.3rem;
}

.navbar-logo.scrolled {
  color: #033281;
  transition: linear 0.5s;
}

.botonBurger {
  margin-top: -0.3rem;
}

.botonBurger:focus {
  box-shadow: none;
}

.burger {
  background-image: url(../src/burger.png);
  background-repeat: no-repeat;
}

.burger.scrolled {
  background-image: url(../src/burger1.png);
  transition: linear 0.5s;
  background-repeat: no-repeat;
}

.vinculoInicio,
.vinculoAbout,
.vinculoContact,
.vinculoProyect {
  text-decoration: none;
  color: #033281;
  font-weight: 700;
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.vinculoInicio:hover,
.vinculoInicio:focus,
.vinculoAbout:hover,
.vinculoAbout:focus,
.vinculoContact:hover,
.vinculoContact:focus,
.vinculoProyect:hover,
.vinculoProyect:focus {
  color: #585858;
  text-shadow: 2px 1.5px 1.5px #000000;
}

.vinculoContact {
  padding-bottom: 2rem;
}

.burgerLinks {
  margin-top: 0.4rem;
  background: url(../src/fondoBurger.jpg);
  background-position-y: 4rem;
  background-size: 100%;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

/*COVER VIDEO FONDO*/

.cover-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -50;
}

.cover-container h1 {
  font-size: 3.5rem;
}

.cover-container p {
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

/*ABOUT SECTION*/

#aboutMe {
  position: relative;
  top: -3rem;
}

.about-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url(../src/vectorFondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 18%;
  background-color: #fff;
  color: #033281;
  max-width: 100vw;
  padding-top: 2rem;
}

.about-desc {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  padding: 2.5rem 1rem 0 1rem;
  overflow: hidden;
}

.about-desc h3 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.about-desc p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;
}

.about-desc p span {
  font-style: italic;
  color: #000000;
  background-color: yellow;
}

.aprendidos {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.about-desc ul i {
  font-size: 2.5rem;
}

.fa-html5 {
  color: #ef450a;
}

.fa-css3-alt {
  color: #2091eb;
}

.fa-bootstrap {
  color: #8212f2;
}

.fa-sass {
  color: #c36291;
}

.fa-npm {
  color: #c13534;
}

.fa-git-alt {
  color: #e44d30;
}

.fa-github {
  color: #000000;
}

.next {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.proximos {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0;
}

.fa-js {
  color: #e8d318;
  margin-right: 1rem;
}

.fa-react {
  color: #00cdf2;
  margin-left: 1rem;
}

.about-img {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(-10px 0 25px rgb(66, 66, 66));
}

.imagenAbout {
  max-width: 80%;
  object-fit: cover;
}

/*INFO SECTION */

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 13rem;
  margin-bottom: 100vh;
  background: url(../src/fondoChico1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.info {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h3 {
  text-align: center;
  font-size: 1.5rem;
  width: auto;
  font-family: "Roboto", sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  color: #fff;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  padding: 0.5rem 0 0.5rem 0;
}

/*SLIDER CARROUSEL*/

#myProyect {
  position: relative;
  top: -4.3rem;
}

.slider-container {
  max-width: 100%;
  height: 65vh;
  background: url(../src/vectorFondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 4.8rem;
  background-color: #fff;
  color: #3c88b8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.proyectos h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
  font-weight: 900;
  color: #033281;
}

.bordesImg {
  max-width: 95%;
  height: auto;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  cursor: pointer;
}

.carousel-item img {
  box-shadow: 0px 10px 10px 0px rgba(30, 30, 30, 0.8);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(30, 30, 30, 0.8);
  -moz-box-shadow: 0px 10px 10px 0px rgba(30, 30, 30, 0.8);
}

.carousel-item a {
  text-decoration: none;
}

.subtitulosSlider {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  max-width: 100%;
  bottom: 0rem;
  left: 0;
  padding-bottom: 0;
  color: #033281;
}

.carousel-indicators {
  position: absolute;
  bottom: -0.5rem;
}

.botonSlider {
  background-color: rgb(60, 136, 184, 0.8);
  border-radius: 15px;
  padding: 0 0.5rem 0 0.5rem;
}

/*FOOTER*/
.footer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #033281;
  padding-top: 3.5rem;
  position: fixed;
  z-index: -150;
  bottom: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  background: url(../src/vectorFondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 35.5rem;
  background-color: #fff;
}

.footer-info {
  font-size: 1.8rem;
  padding-top: 4.5rem;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
}

.firmaSVG {
  max-width: 100vw;
  margin: 3rem 0 2rem;
}

#firma {
  vertical-align: middle;
  width: 90vw;
}

.footer-contact {
  width: 100vw;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  padding: 2.5rem 0 1.5rem 0;
}

.sns-links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.sns-links a {
  text-decoration: none;
  cursor: pointer;
  color: #033281;
}

.tfooter:hover,
.tfooter:focus {
  color: #1a8cd8;
}

.lfooter:hover,
.lfooter:focus {
  color: #0a66c2;
}

.gfooter {
  color: #033281;
}

.gfooter:hover,
.gfooter:focus {
  color: #000000;
}

.wfooter:hover,
.wfooter:focus {
  color: #4ecb5c;
}

/*Animacion firma Footer*/
.svg-elem-1,
.svg-elem-2,
.svg-elem-3,
.svg-elem-4,
.svg-elem-5,
.svg-elem-6,
.svg-elem-7,
.svg-elem-8,
.svg-elem-9,
.svg-elem-10,
.svg-elem-11,
.svg-elem-12 {
  fill: #033281;
  /*fill: none;*/
}

/*MEDIA QUERIES*/
@media (min-width: 576px) {
  .navbar {
    height: 2.3rem;
  }

  .navbar-logo {
    font-size: 1.3rem;
  }

  .burger {
    font-size: 1rem;
  }

  nav.scrolled {
    background-position-y: -6.5rem;
  }

  .burgerLinks {
    background-position-y: -2.5rem;
    margin-top: 0;
    height: auto;
  }

  .vinculoInicio,
  .vinculoAbout,
  .vinculoContact,
  .vinculoProyect {
    font-size: 1.5rem;
  }

  .cover-container h1 {
    font-size: 5rem;
  }

  .cover-container p {
    font-size: 2rem;
  }

  #aboutMe {
    top: -2.3rem;
  }

  .about-container {
    padding-top: 0.5rem;
    background-position-y: -3rem;
    z-index: 60;
    height: 100vh;
    justify-content: center;
  }

  .about-img {
    max-width: 50vw;
    align-items: center;
  }

  .imagenAbout {
    height: 75%;
    margin-bottom: 2.5rem;
  }

  .about-desc {
    max-width: 50vw;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fondoAbout {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 1rem 0 1rem;
    height: auto;
  }

  .about-desc h3 {
    font-size: 1.5rem;
    margin: .8rem auto;
  }

  .about-desc p {
    font-size: 0.8rem;
    margin: 0.8rem 0.8rem 0 0.8rem;
  }

  .about-desc ul i {
    font-size: 1.8rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
  }

  .proximos {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100vw;
  }

  .fa-js,
  .fa-react {
    margin-bottom: .5rem !important;
  }

  #myProyect {
    position: relative;
    top: -1rem;
  }

  .slider-container {
    background: #fff;
    height: 100vh;
    color: #3c88b8;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    max-width: 100%;
  }

  .proyectos {
    align-items: center;
  }

  .proyectos h3 {
    font-size: 1.8rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .carousel-control-prev {
    margin-left: 3rem;
  }

  .carousel-control-next {
    margin-right: 3rem;
  }

  .slide {
    max-width: 80vw;
  }

  .carousel-item a img {
    max-width: 75%;
  }

  .subtitulosSlider {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    bottom: 0.5rem;
  }

  .subtitulosSlider h5,
  .subtitulosSlider p {
    margin: 0 1rem 0 1rem !important;
    font-size: 1.1rem;
  }

  .botonSlider button {
    max-width: 1.2rem;
  }

  .carousel-indicators {
    bottom: 0.5rem;
  }

  .info h3 {
    font-size: 2.5rem;
    margin: 0 1rem 0 1rem;
  }

  .footer {
    padding-top: 0;
    background-position-y: 11.5rem;
    background-size: 100vw;
    height: auto;
  }

  .footer-info {
    font-size: 1.2rem;
    padding: 0 !important;
    position: relative;
    top: 0;
  }

  .firmaSVG {
    margin: 0;
  }

  #firma {
    width: 70vw;
    padding-top: 2rem;
    margin-bottom: -1rem;
  }

  .footer-contact {
    font-size: 1.2rem;
    padding: 1rem 0 0.5rem 0;
    position: relative;
    top: -1rem;
  }

  .sns-links {
    font-size: 1.1rem;
    position: relative;
    top: -1rem;
  }
}

@media (min-width: 768px) {
  nav.scrolled {
    background-position-y: -7.5rem;
  }

  .burgerLinks {
    background-position-y: -4.5rem;
  }

  .cover-container h1 {
    font-size: 6.5rem;
  }

  .cover-container p {
    font-size: 3rem;
  }

  .about-container {
    background-position-y: 1rem;
    height: 65vh;
  }

  .imagenAbout {
    height: auto;
  }

  .slider-container {
    height: auto;
  }

  /*
  .about-desc {
    max-width: 100vw;
    padding: 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    border-radius: none;
    margin-top: -1.5rem;
    justify-content: center;
  }

  .about-desc h3 {
    font-size: 3rem;
  }

  .about-desc p {
    font-size: 1.5rem;
    margin: 0 1rem 0 1rem;
  }

  .about-desc ul {
    width: 90vw;
    margin: 0 auto;
  }

  .about-desc ul i {
    font-size: 3.5rem;
  }

  .next {
    font-size: 2rem !important;
  }

  .slider-container {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4rem;
    height: 70vh;
    max-width: 100%;
  }

  .proyectos h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .slide {
    max-width: 100vw;
    margin-bottom: 4.5rem;
  }

  .carousel-item a img {
    max-width: 95%;
  }

  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .subtitulosSlider {
    flex-direction: column;
    bottom: 0;
    top: 0.5rem;
  }

  .subtitulosSlider h5,
  .subtitulosSlider p {
    font-size: 1.5rem;
  }

  .botonSlider {
    width: 10rem;
    height: 1.8rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .botonSlider button {
    max-width: 3rem;
  }

  .carousel-indicators {
    bottom: -2.5rem;
  }

  .info-container {
    height: 20rem;
    background: url(/src/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25%;
  }

  .info h3 {
    font-size: 3rem;
  }

  .footer {
    background-position-y: 47rem;
    height: 100vh;
  }

  .footer-info {
    font-size: 2.5rem;
    top: 12rem;
  }

  #firma {
    width: 90vw;
  }

  .footer-contact {
    top: 13rem;
  }

  .footer-contact h3 {
    font-size: 3.5rem;
  }

  .sns-links {
    font-size: 2.5rem;
    top: 14rem;
  }*/
  .footer {
    height: 55vh;
  }
}

@media (min-width: 1024px) {
  .navbar {
    max-width: 100vw;
  }

  nav.scrolled {
    background-position-y: -12.5rem;
  }

  .burgerLinks {
    background-position-y: -10rem;
    height: 32vh;
  }

  .cover-container h1 {
    font-size: 8rem;
  }

  .cover-container p {
    font-size: 3.5rem;
  }

  .about-container {
    background-position-y: -5rem;
    height: 85vh;
  }

  .about-img {
    max-width: 50vw;
    align-items: center;
  }

  .imagenAbout {
    height: 70%;
    margin-bottom: 3.5rem;
  }

  .about-desc {
    max-width: 50vw;
    margin-top: 3.5rem;
    padding: 0 1rem 0 1rem;
  }

  .fondoAbout {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .about-desc h3 {
    font-size: 2.8rem;
    margin-top: 1rem;
  }

  .about-desc p {
    font-size: 1.3rem;
  }

  .about-desc ul {
    width: 100%;
  }

  .about-desc ul i {
    font-size: 3.2rem;
  }

  .next {
    padding-top: 0.5rem;
    font-size: 1.8rem !important;
  }

  .fa-react,
  .fa-js {
    padding-bottom: 1rem;
  }

  .slider-container {
    background: #fff;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90vh;
    padding-top: 3.5rem;
    max-width: 100%;
  }

  .proyectos h3 {
    font-size: 2rem;
  }

  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .slide {
    max-width: 100%;
    margin-top: 4rem;
  }

  .carousel-item a img {
    max-width: 90%;
  }

  .subtitulosSlider {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    bottom: 0.5rem;
  }

  .subtitulosSlider h5,
  .subtitulosSlider p {
    margin: 0 1rem 0 1rem !important;
    font-size: 1.5rem;
  }

  .botonSlider button {
    max-width: 3rem;
  }

  .carousel-indicators {
    bottom: 2rem;
  }

  .info-container {
    max-width: 100vw;
  }

  .info h3 {
    font-size: 3.8rem;
  }

  .footer {
    padding-top: 0;
    background-position-y: 11rem;
    height: auto;
    background-size: 100%;
    max-width: 100vw;
  }

  .footer-info {
    font-size: 2.5rem;
    top: -12rem;
  }

  #firma {
    width: 70vw;
  }

  .footer-contact {
    top: -11.5rem;
  }

  .footer-contact h3 {
    font-size: 3rem;
  }

  .sns-links {
    font-size: 2rem;
    top: -11rem;
  }
}

@media (min-width: 1200px) {
  .slider-container {
    height: 100vh;
  }

  .carousel-indicators {
    position: relative;
    bottom: 1.5rem;
  }

  #firma {
    margin-bottom: -4rem;
  }

  .localidad {
    position: relative;
    top: 2.5rem;
  }

  .footer-contact {
    top: -8rem;
  }

  .sns-links {
    top: -6rem;
  }
}

@media (min-width: 1600px) {
  .carousel-indicators {
    bottom: 2.5rem;
  }

  .info-container {
    height: 15rem;
    background: url(../src/fondoChico1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
  }


  nav.scrolled {
    background-position-y: -27.5rem;
  }

  .burgerLinks {
    background-position-y: -36rem;
    height: 27.5vh;
  }
}

@media (min-width: 1920px) {
  .carousel-indicators {
    bottom: 1rem;
  }

  .info-container {
    height: 20rem;
  }
}